<div id="modalSugerirCancion" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-content-2">

        <picture>
          <source type="image/webp" srcset="/flores_Grupo04_A.webp">
          <source type="image/png" srcset="/flores_Grupo04_A.png">
          <img class="adorno adorno-1 aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000" data-aos-once="false" src="/flores_Grupo04_A.png" alt="" loading="lazy">
        </picture>


        <picture>
          <source type="image/webp" srcset="/flores_Grupo04_B.webp">
          <source type="image/png" srcset="/flores_Grupo04_B.png">
          <img class="adorno adorno-2 aos-init aos-animate" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" data-aos-once="false" src="/flores_Grupo04_B.png" alt="" loading="lazy">
        </picture>


        <div class="img-top-modal d-flex justify-content-center align-items-start">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

          <div class="white-circle-icon">
            <img class="" src="/img_circuloCanciones.svg" alt="">
          </div>


        </div>

        <div class="modal-header">

          <h5 class="modal-title">Sugerir Canción</h5>

        </div>

        <div class="modal-body">

          <div class="formulario-content">

            <form id="formSugerirCancion" action="">

              <div class="form-group">
                <input type="text" class="form-control" id="nombreSugerencia" name="nombre" placeholder="Tu nombre">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="descripcionSugerencia" name="descripcion" placeholder="Nombre de canción y autor">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="linkSugerencia" name="link" placeholder="Si lo desea ingrese el link de YouTube, Spotify, etc.">
              </div>


              <input type="hidden" name="invitacion" value="">
              <input type="hidden" name="token" value="">
              <input type="hidden" name="lang" value="es">
              <input type="hidden" name="country" value="ar">

            </form>

          </div>

          <div class="msj-content d-flex flex-column justify-content-center"></div>

        </div>

        <div class="modal-footer">
          <button type="button" id="sendSugerenciaCancion" class="boton boton--azul">Sugerir canción</button>
        </div>

      </div>
    </div>
  </div>
</div>