---
import Layout from '@/layouts/Layout.astro';
import Portada from '@/blocks/portada.astro'
import CeremoniaFiesta from '@/blocks/ceremonia-fiesta.astro'
import Galeria from '@/blocks/galeria.astro'
import Regalos from '@/blocks/regalos.astro'
import CuentaRegresiva from '@/blocks/cuenta-regresiva.astro'
import Instagram from '@/blocks/instagram.astro'
import Footer from '@/blocks/footer.astro'

---


<Layout title="Mis 15 - Invitación">
	<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="/portada-mobile.webp">
		<div class="overlay-content">
			<Portada />
		</div>
	</div> -->
	
	<div class="parallax-window" data-parallax="scroll" data-image-src="/portada-mobile.webp">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div data-aos="fade-up">
                <Portada />
            </div>
        </div>
    </div>

	<section class="white-section">
		<CuentaRegresiva />
	</section>

	<div class="parallax-window" data-parallax="scroll" data-image-src="/instagram_mobile.webp">
		<div class="overlay-content">
		</div>
	</div>

	<section class="white-section">
		<CeremoniaFiesta />
		<Regalos />
		<Instagram />
		<Footer />
	</section>




</Layout>

<script>
	import $ from 'jquery';
	// Importar el plugin que instalaste con npm
	import 'jquery-parallax.js';

	// Función para inicializar
	const initParallax = () => {
		// @ts-ignore
		$('.parallax-window').parallax({
		speed: 0.5, // Velocidad del efecto (0 a 1)
		zIndex: 1   // Asegura que la imagen esté al fondo
		});
	};

	// Ejecutar al cargar
	$(document).ready(initParallax);
	
	// Si usas ViewTransitions de Astro, añade esto también:
	document.addEventListener('astro:after-swap', initParallax);
</script>

<style is:global>
	/* Altura de las ventanas de imagen */
	.parallax-window {
		height: 100vh; /* Ocupa toda la pantalla */
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* Secciones de contenido sólido */
	.white-section {
		background-color: white;
		position: relative;
		z-index: 10; /* Importante para que pase "por encima" del parallax */
		padding: 50px 20px;
		box-shadow: 0 -10px 20px rgba(0,0,0,0.1); /* Sombra para dar profundidad */
	}

	/* Contenido sobre la imagen */
	.overlay-content {
		z-index: 5;
		text-align: center;
		width: 100%;
	}
</style>
<style>
	/* Loader */


	.preloader-area {
	position: fixed;
	background: var(--color-5);
	z-index: 11000;
	height: 100%;
	width: 100%;
	overflow: hidden;
	}

	.preloader-area .loader{
	width: 130px;
	}


	span#error-form{
	color: red;
	font-size: 13px;
	}


	/* ---------- */


</style>
