---
interface Props { name: string; }
const { name } = Astro.props;
---

<div id="modalMusica" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body text-center">
        <p>

          Bienvenidos a la invitación de
          {name}
        </p>

        <span>La música de fondo es parte de la experiencia</span>

        <br>
        <a class="boton boton--azul" id="play-music-modal" href="">Ingresar con música</a>
        <a class="boton boton--azul" data-dismiss="modal" aria-label="Close" id="" href="">Ingresar sin música</a>
      </div>

    </div>
  </div>
</div>