---

---

<section class="ceremonia-fiesta">
  <picture>
    <source type="image/webp" srcset="/flores_Grupo02_A.webp">
    <source type="image/png" srcset="/flores_Grupo02_A.png">
    <img 
      class="adorno adorno-1 aos-init aos-animate" 
      data-aos="fade-right" 
      data-aos-delay="300" 
      data-aos-duration="1000" 
      data-aos-once="false" 
      alt="" 
      src="/flores_Grupo02_A.png" 
      loading="lazy">
  </picture>


  <picture>
    <source type="image/webp" srcset="/flores_Grupo02_B.webp">
    <source type="image/png" srcset="/flores_Grupo02_B.png">
    <img 
      class="adorno adorno-2 aos-init" 
      data-aos="fade-right" 
      data-aos-delay="400" 
      data-aos-duration="1000" 
      data-aos-once="false" 
      alt="" 
      src="/flores_Grupo02_B.png" 
      loading="lazy">
  </picture>


  <picture>
    <source type="image/webp" srcset="/flores_Grupo02_C.webp">
    <source type="image/png" srcset="/flores_Grupo02_C.png">
    <img 
      class="adorno adorno-3 aos-init aos-animate" 
      data-aos="fade-right" 
      data-aos-delay="500" 
      data-aos-duration="1000" 
      data-aos-once="false" 
      alt="" 
      src="/flores_Grupo02_C.png" 
      loading="lazy">
  </picture>




  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class=" col-md-6 col-fiesta text-center">
        <div class="anim-fiesta">
        </div>
        <br>
        <h3>Fiesta</h3>

        <div class="info-col">

          <div class="info-box">
            <h6>Día</h6>
            <p>Domingo 24 de Mayo - 21hs</p>
            <a href="#" class="boton addeventatc" id="addeventatc1" title="" aria-haspopup="true" aria-expanded="false" tabindex="0" translate="no" data-loaded="true" style="visibility: visible; z-index: 2;">
              <span class="nameBtn atc_node notranslate">Agendar</span>

              <span class="start atc_node notranslate">2026-05-24 21:00:00</span>
              <span class="end atc_node notranslate">2026-05-24 23:00:00</span>
              <span class="timezone atc_node notranslate">America/Argentina/Buenos_Aires</span>
              <span class="title atc_node notranslate">Elizabeth ::: Mis 15 años :::  (Fiesta)</span>
            
              <span id="addeventatc1-drop" class="addeventatc_dropdown " aria-hidden="true"
                aria-labelledby="addeventatc1"><span class="ateappleical" id="addeventatc1-appleical" role="menuitem" tabindex="-1">Apple Calendar</span><span class="ategoogle" id="addeventatc1-google" role="menuitem" tabindex="-1">Google <em>(online)</em></span><span class="ateoffice365" id="addeventatc1-office365" role="menuitem" tabindex="-1">Office 365 <em>(online)</em></span><span class="ateoutlook" id="addeventatc1-outlook" role="menuitem" tabindex="-1">Outlook</span><span class="ateoutlookcom" id="addeventatc1-outlookcom" role="menuitem" tabindex="-1">Outlook.com <em>(online)</em></span><span class="ateyahoo" id="addeventatc1-yahoo" role="menuitem" tabindex="-1">Yahoo <em>(online)</em></span><em class="copyx"><em class="brx"></em><em class="frs"><a href="https://www.addevent.com" title="" tabindex="-1" id="addeventatc1-home"></a></em></em></span></a>
          </div>

          <div class="info-box">
            <h6>Lugar</h6>
            <p>Salon Janos</p>
            <a href="#" data-evento="Fiesta" class="boton confirmar-asistencia">Confirmar asistencia</a>
          </div>

          <div class="info-box">
            <h6>Dirección</h6>
            <p>Perú 338 - CABA</p>
            <a href="#" data-evento="Fiesta" class="boton modal-como-llegar">¿Cómo llegar?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>