<section class="fiesta">
    <div class="container">
        <div class="row text-center d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <h2 class="title">Fiesta</h2>
                <p class="subtitle">Hagamos juntos una fiesta épica. Aquí algunos detalles a tener en cuenta.</p>
            </div>
            <!-- Canciones -->
            <div class="col-md-4 item-fiesta">
                <picture>
                    <source type="image/webp" srcset="flores_Grupo03_A.webp" />
                    <source type="image/png" srcset="flores_Grupo03_A.png" />
                    <img
                        class="adorno adorno-1"
                        src="flores_Grupo03_A.png"
                        alt=""
                    />
                </picture>

                <picture>
                    <source type="image/webp" srcset="flores_Grupo03_B.webp" />
                    <source type="image/png" srcset="flores_Grupo03_B.png" />
                    <img
                        class="adorno adorno-2"
                        src="flores_Grupo03_B.png"
                        alt=""
                    />
                </picture>

                <div class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">
                    <h3>Música</h3>
                    <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
                        <div class="anim-musica"></div>
                    </div>
                    <p>¿Cuál es la canción que no debe faltar en la PlayList de la fiesta?</p>
                    <a href="#" class="boton sugerir-cancion">Sugerir canción</a>
                </div>
            </div>

            <!-- Dress Code -->
            <div class="col-md-4 item-fiesta">
                <div class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">
                    <h3>Dress Code</h3>
                    <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
                        <div class="anim-vestuario"></div>
                    </div>
                    <p>Una orientación para <br /> tu vestuario</p>
                    <a href="#" class="boton modal-vestuario"> Ver más </a>
                </div>
            </div>

            <!-- Notas -->
            <div class="col-md-4 item-fiesta">
                <div class="w-100 content-item-fiesta d-flex flex-column justify-content-between align-items-center">
                    <h3>Tips y Notas</h3>
                    <div class="d-flex justify-content-center align-items-center content-anim-fiesta">
                        <div class="anim-tips"></div>
                    </div>
                    <p>Información adicional <br /> para tener en cuenta</p>
                    <a href="#" class="boton modal-tips"> + Info </a>
                </div>
            </div>
        </div>
    </div>
</section>
