---
interface Props { name: string; }
const { name } = Astro.props;
---

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-nombres-footer d-flex justify-content-center align-items-center">
        <div>
          <h4>{name}</h4>
          <h5>Mis 15 años</h5>
        </div>
      </div>

      <div class="col-md-6 col-acciones-footer d-flex justify-content-center align-items-center">
        <ul>
          <li><a href="#cuenta-regresiva" data-evento="" class="">Cuenta regresiva</a></li>
          <li><a href="#informacion-fiesta" data-evento="" class="">Información</a></li>
          <li><a href="#confirmar-asistencia" data-evento="" class="">Confirmar asistencia a fiesta</a></li>
          <li><a href="#direccion" data-evento="" class="">Dirección</a></li>
          <li><a href="#regalos" data-evento="" class="">Regalos</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>