---

---

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-nombres-footer d-flex justify-content-center align-items-center">
        <div>
          <h4>Florencia</h4>
          <h5>Mis 15 años</h5>
        </div>
      </div>

      <div class="col-md-6 col-acciones-footer d-flex justify-content-center align-items-center">
        <ul>
          <li><a href="#" data-evento="Fiesta" class="confirmar-asistencia">Confirmar asistencia a fiesta</a></li>
          <!-- <li><a href="#" class="sugerir-cancion">Sugerir canción</a></li> -->
          <li>
            <!-- <div title="" class="addeventatc" id="addeventatc2" aria-haspopup="true" aria-expanded="false" tabindex="0" translate="no" data-loaded="true" style="visibility: visible;">
              <span class="nameBtn atc_node notranslate">Agendar Fiesta</span>
              <span class="start atc_node notranslate">2026-03-02 19:17:31</span>
              <span class="end atc_node notranslate">2026-03-02 19:17:31</span>
              <span class="timezone atc_node notranslate">America/Argentina/Buenos_Aires</span>
              <span class="title atc_node notranslate">Florencia ::: Mis 15 años :::  (Fiesta)</span>
            </div> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>