---

---

<section class="galeria">
    <div class="container">
        <div class="row text-center d-flex justify-content-center align-items-center">
            <div class="content-galeria">
                <h2 class="title">Un recorrido de estos 15 años</h2>
                <p class="subtitle">Junto a personas que son muy importantes en mi vida</p>
                <div class="anim-galeria">
                </div>
            </div>
        </div>
    </div>

    <div class="content-fotos">
        <div class="shadow-left"></div>
        <div class="shadow-right"></div>

        <div class="carrusel">
            <div class="item-galeria">
            <div class="polaroid">
                <a href="/galeria/1.jpg" data-fancybox="galeria">
                    <img src="/galeria/1.jpg" alt="Recuerdo 1">
                </a>
            </div>
        </div>

        <div class="item-galeria">
            <div class="polaroid">
                <a href="/galeria/2.jpg" data-fancybox="galeria">
                    <img src="/galeria/2.jpg" alt="Recuerdo 2">
                </a>
            </div>
        </div>

        <div class="item-galeria">
            <div class="polaroid">
                <a href="/galeria/3.jpg" data-fancybox="galeria">
                    <img src="/galeria/3.jpg" alt="Recuerdo 3">
                </a>
            </div>
        </div>

        <div class="item-galeria">
            <div class="polaroid">
                <a href="/galeria/4.jpg" data-fancybox="galeria">
                    <img src="/galeria/4.jpg" alt="Recuerdo 4">
                </a>
            </div>
        </div>

    </div>
</section>


<script>
    //@ts-ignore
    const initCarrusel = () => {
        const $target = $('.carrusel');
        
        // Verificamos que el elemento exista y no esté ya inicializado
        if ($target.length > 0 && !$target.hasClass('slick-initialized')) {
            // @ts-ignore
            $target.slick({
                lazyLoad: 'ondemand',
                autoplay: true,
                autoplaySpeed: 2000,
                centerMode: true,
                dots: false,
                centerPadding: '20px',
                slidesToShow: 3,
                prevArrow: false,
                nextArrow: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            centerPadding: '40px',
                            slidesToShow: 1 // Mejor 1 en mobile para que se luzca el centerMode
                        }
                    }
                ]
            });
        }
    };

    // Se ejecuta al cargar la página
    document.addEventListener('DOMContentLoaded', initCarrusel);  
</script>
