---
interface Props {
    hashtag: string;
}
const { hashtag } = Astro.props;
---

<section class="instagram">
    <div class="container">
      <div class="row text-center d-flex justify-content-center align-items-center">
        <h2 class="title">Una gran fiesta junto a vos</h2>
        <p class="subtitle">Compartí tus fotos y videos de ese hermoso día</p>
        <div class="w-100">
            <div class="anim-instagram">
            </div>
        </div>
        <div class="w-100">
            <a target="_blank" href="https://www.instagram.com/" class="hashtag">{hashtag}</a>
        </div>
        <br>

        <a target="_blank" href="https://www.instagram.com/" class="boton boton--azul">Ver en Instagram</a>
    </div>
  </div>
</section>