---

---


<section class="footer">
  <div class="container">

    <div class="row">



      <div class="col-md-6 col-nombres-footer d-flex justify-content-center align-items-center">

        <div>
          <h4>
            Florencia          </h4>
          <h5>Mis 15 años</h5>
        </div>

      </div>


      <div class="col-md-6 col-acciones-footer d-flex justify-content-center align-items-center">

        <ul>

          <li>
            <a href="#" data-evento="Fiesta" class="confirmar-asistencia">Confirmar asistencia a fiesta</a>
          </li>

          <li>
            <a href="#" class="sugerir-cancion">Sugerir canción</a>
          </li>

          <li>
            <div title="" class="addeventatc" id="addeventatc2" aria-haspopup="true" aria-expanded="false" tabindex="0" translate="no" data-loaded="true" style="visibility: visible;">

              <span class="nameBtn atc_node notranslate">Agendar Fiesta</span>

              <span class="start atc_node notranslate">2026-03-02 19:17:31</span>
              <span class="end atc_node notranslate">2026-03-02 19:17:31</span>
              <span class="timezone atc_node notranslate">America/Argentina/Buenos_Aires</span>
              <span class="title atc_node notranslate">Florencia ::: Mis 15 años :::  (Fiesta)</span>

            </div>
          </li>


        </ul>

      </div>



    </div>

  </div>
</section>


<style>
  /* Footer */

  section.footer{
    position: relative;
    background-color: var(--color-5);
    padding-bottom: 10%;
    padding-top: 10%;
    margin-top: -2px;
  }


  section.footer h4{
    width: 100%;
    line-height:70px;
    margin-bottom:0;
    text-align: center;
    font-family: var(--fuente-1);
    font-size: 85px;
    color: var(--color-2);
  }

  section.footer h5{
    font-size:35px;
    color:var(--color-3);
    font-family: var(--fuente-2);
    font-weight:var(--grosor-fuente-regular);
    width: 100%;
    text-align: center;
  }

  section.footer h4 span {
    background-color: var(--color-4);
    color: var(--color-1);
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 35px;
    font-family: var(--fuente-1)
  }

  section.footer .col-acciones-footer ul{
    font-family: var(--fuente-2);
    font-weight: 400;
    text-align: left;
  }


  section.footer .col-acciones-footer ul li{
    margin-bottom: 20px;
    text-align: right;
  }


  section.footer .col-acciones-footer ul a, section.footer .addeventatc span.nameBtn{
    color: var(--color-1);
    font-weight: var(--grosor-fuente-regular);
    font-size: 19px;
    
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
  }


  section.footer .col-acciones-footer ul a:hover, section.footer .addeventatc span.nameBtn:hover{
    color: var(--color-2) !important;
    background:none;
    text-decoration: none;
  }


  /* ---------- */

</style>