---

---

<section class="portada">
    <div class="d-md-flex">
        <div class="portada-picture">
            
        </div>
        <div class="portada-container d-flex justify-content-center align-items-center">
            <div class="portada-container-2">
                <picture></picture>
                <picture></picture>
                <picture></picture>
                <picture></picture>
                <div class="row d-flex justiy-content-center align-items-center">
                    <div class="content-portada text-center">
                        <div class="box">
                            <span class="fecha">25.05.2026</span>
                            <h1>Elizabeth</h1>
                            <h2>Mis 15 años</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>